Leture/
Task 1. Address/x64/
Task 1. Address/.vs/
Task 1. Address/GettingToKnowVisualStudio.vcxproj.user
Task 2. Sorting Addresses/x64/
Task 2. Sorting Addresses/.vs/
Task 2. Sorting Addresses/GettingToKnowVisualStudio.vcxproj.user